* {
  margin: 0;
  padding: 0;
}

body {
  background: url(Images/stijn-te-strake-UdhpcfImQ9Y-unsplash.jpg);
  background-size: cover;
  background-color: #cece9f;
}



.header-pic {
  height: 80px;
  width: 80px;
  margin-left: 35px;
  margin-top: 10px;
  border-radius: 50%;
}

.top-nav {
  height: 150px;
  position: relative;
}

h1 {
  position: absolute;
  left: 800px;
  top: 20px;
}

.nav-bar {
 
}

.nav-right {
  float: right;
  margin: 30px;
}

.nav-right ul {
  list-style: none;
}

.nav-right ul li {
  display: inline-block;
  margin: 15px;
  padding: 15px;
  border: 1px black solid;
  border-radius: 6px;
}

.eggplant {
  height: 350px;
  width: 350px;
}

.ocean {
  height: 350px;
  width: 350px;
}
