* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkcyan;
  color: white;
}

img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.top-nav {
  height: 250px;
  border-bottom: 1px black solid;
}

.nav-bar {
  margin-top: 20px;
}

.nav-right {
  float: right;
  margin: 30px;
}

.nav-right ul {
  list-style: none;
}

.nav-right ul li {
  display: inline-block;
  padding: 15px;
  border: 1px black solid;
  border-radius: 6px;
}

